.client__avatar {
    position: relative;
  }
  
  .client__avatar img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .client__avatar.expanded img {
    transform: scale(2.5); /* Aumenta el tamaño de la imagen al 120% */

  }
  .client__avatar {
    position: relative;
    cursor: pointer;
  }
  





.container.testimonials__container{
    width: 40%;
    padding-bottom: 4rem;
    

}

.client__avatar{
    width: 300px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    
}
.testimonials {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 4rem;
    border-radius: 2rem;
    user-select: none;

}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;

}
.swiper-pagination-bullets{
    background: var(--color-bg-variant);
    border-radius: 1rem;
}
 /*======================MEDIA QUERIES (MEDIUM DEVICES)=======================*/
 @media screen and (max-width:1024px){
 .container.testimonials__container{
    width: 60%;
 }
  }
 
  /*======================MEDIA QUERIES (small DEVICES)=======================*/
  @media screen and (max-width:600px){
    .client__avatar{
        width: 250px;
        aspect-ratio: 1/1;
        margin: 0 auto;
        
    }
.container.testimonials__container{
    width: var(--container-width-sm);
}
.client__review{
    width: var(--container-width-sm);
}
  }

